<nav>
    <a href="/home">home</a>
    <a href="/protected">protected</a>
    <% if ( authenticated == false ) { %> 
        <a href="/login">login</a>
        <a href="/register">register</a>
    <% } else { %>
        <a href="/logout">logout</a>
    <% } %>
</nav>


authenticated : <%= authenticated %>
                