<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <%- include( 'partials/head' ) %>
    </head>
    <body>    
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <%- include( 'partials/header' ) %>
        </header>

        <main>
            <h3 class="banner">login</h3>
            <!-- display errors if there are any -->
            <% if ( locals.errors > 0 ) { %> 
                <h3>we have errors</h3>
                <ul>
                    <% errors.forEach( error =>  { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            <% } %>

            <div class="login-page">
                <div class="form">
                  <form class="login-form" action="/login" method="POST">
                    <input type="email" placeholder="email" id="email" name="email"/>
                    <input type="password" placeholder="password" id="password" name="password"/>
                    <button type="submit">login</button>
                    <p class="message">Not registered? <a href="/register">Create an account</a></p>
                  </form>
                </div>
              </div>
        </main>
        <%- include( 'partials/scriptIncludes' ) %>
    </body>
</html>








